- avatar = namespace_icon(namespace, 100)
- can_create_project = current_user.can?(:create_projects, namespace)

.bordered-box.fork-thumbnail.text-center.gl-m-3.gl-pb-5{ class: ("disabled" unless can_create_project) }
  - if /no_((\w*)_)*avatar/.match(avatar)
    = group_icon(namespace, class: "avatar rect-avatar s100 identicon mx-auto")
  - else
    .avatar-container.s100.mx-auto.gl-mt-5
      = image_tag(avatar, class: "avatar s100")
  %h5.gl-mt-3
    = namespace.human_name
  - if forked_project = namespace.find_fork_of(@project)
    = link_to _("Go to project"), project_path(forked_project), class: "btn gl-button btn-default"
  - else
    %div{ class: ('has-tooltip' unless can_create_project),
      title: (_('You have reached your project limit') unless can_create_project) }
      = link_to _("Select"), project_forks_path(@project, namespace_key: namespace.id),
          data: { qa_selector: 'fork_namespace_button', qa_name: namespace.human_name },
          method: "POST",
          class: ["btn gl-button btn-success", ("disabled" unless can_create_project)]
